@model AssignmentManager.Models.AssignmentListViewModel
@{
    ViewBag.Title = "Index";
}

<h1 class="pull-left">@Model.Header</h1>
<a href="/Assignment/Create" class="btn btn-info pull-right" style="margin-top: 20px">Insert</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Is Done</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var assignment in Model.Assignments)
       {
           <tr>
               <td>@assignment.Title</td>
               <td>@assignment.Description</td>
               <td>@assignment.CreatedAt</td>
               <td>@assignment.UpdatedAt</td>
               <td>@assignment.IsDone</td>
               <td>
                   <a href="/Assignment/Update/@assignment.Id" class="btn btn-default">Update</a>
                   <a href="/Assignment/Delete/@assignment.Id" class="btn btn-danger">Delete</a>
                   <a href="/Comment/Index/@assignment.Id" class="btn btn-info">Comments</a>
               </td>
           </tr>
       }
    </tbody>
</table>
