@* COMMENTS *@

@model AssignmentManager.Entities.Comment
@{
    ViewBag.Title = "Update";
}

<h2>Update Comment</h2>

@using (Html.BeginForm("Update", "Comment"))
{
    @Html.HiddenFor(model => model.AssignmentId)
    @Html.HiddenFor(model => model.CreatedAt)
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, "Title:")
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Content, "Content:")
                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @rows = "5" })
                </div>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>

    </div>
}
